<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

        {{!-- <link rel="stylesheet" href="/web-server/public/css/styles.css"> --}}
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>{{helpText}}</p>

            {{!-- {{>helptext}} --}}
            <img class="portrait" src="/img/robot.png">
        </div>

        {{>footer}}
    </body>

</html>